:root{
    --accent-color: #16c987;
    --base-color: white;
    --text-color: #2E2b41;
    --input-color: #f3f0ff;
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto;
    font-size: 9pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(login_bg.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
form > div{
    width: 80%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 40px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 40px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
    
}
form div:has(input:focus) label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
    opacity: 1;
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
    transition: 150ms ease;
    color: var(--base-color);
}
form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}

@media (max-width:1100px){
    body{
        
        background-image: none;
    }
    .wrapper{
        
        width: 100%;
        border-radius: 0;
        background-image: url(login_bg.jpg);
    }
    form{
        overflow: scroll;
        overflow-x: hidden;
        
    }
    h1{
        color: var(--base-color);
    }
    p{
        color: var(--base-color);
    }
    #error-message{
        background-color: #f06272;
        color: var(--base-color) !important;
        border-color: #d32f2f ;
        border-width: 3px;
        border-radius: 10px;
        padding: 5px;
        border-style: solid;
    }
}
form div.incorrect label{
    background-color: #f06272;
}
form div.incorrect input{
    border-color: #d32f2f;
}
#error-message{
    color: #d32f2f;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f500;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--accent-color);
}